/* .signintext{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttontext{
    text-align: center;
}
.authentic{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #ff0000, #0000ff);
}
.button1{
    height: 50px;
    width: 80px;
    font-size: large;
    color: white;
    background-color: green;
    border-radius: 12px;
    cursor: pointer;
} */